:root{
--main-color:#58cc02;
--color:#4b4b4b;
}
*{
    padding: 0%;
    margin: 0%;
}
.flex{
    display:flex ;
}
header h3{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 32px;
    font-weight: 900;
    
}
header a{
    text-decoration: none;
}
.home-icon img{
    color: #1E90FF;
    height:40px;
    width: 40px;
}
.home-icon{
    width: 50%;
}
header{
    justify-content: space-around;
    margin:30px 200px 0px 200px;
    
}
.lang > p{
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}
.started-page{
    height: 80%;
    width: 50%;
    justify-content: space-evenly;
    padding: 15% 0;
    margin:0 15% 0 25%;
   
}
.started-page img{
    width: 340px;
    height: 340px;
    border-radius: 77px;
   
}
.page-material{
    text-align: center;
}
.page-material .page-material-buttons{
   margin-top: 40px;
}
.page-material h2{
    color:var(--color);
    font-size: 2em; 
    flex-wrap: wrap;
    width: 80%;
}
.page-material button{
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow:2px 2px gray;
    margin: 5px;
    border: 1px solid grey;
}
.page-material-buttons :hover{
    background-color: #76ff0e;
    cursor: pointer;
}
.page-material-buttons > .account-button{
    background-color: white;
    color: #1cb0fc;
    font-weight: 700;
}
.account-button:hover{
    background-color:rgb(223, 222, 222);
}
.lang-sec {
    height: 20%;
    padding: 20px 0;
    justify-content: space-evenly;
    margin:0 10%;
    flex-wrap: wrap;
    width: 80%;
}
.lang-sec p{
    font-size: 20px;
    font-weight: 300;
    color: var(--color);
}
.lang-sec img{
    width: 30px;
}
.info-page{
    height: 100vh;
    margin: 10% 30%;
}
.info-page h1{
    color: var(--main-color);
}
.info-page p{
    margin-top: 20px;
    color: var(--color);
    size: 14px;
    
}

.info-page img{
    height: 240px;
    width: 240px;
}
.info-page{
   max-width: 80%;
}
.reverse{
    flex-direction: row-reverse;
}

section{
    background-color: rgb(56, 0, 109);
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section img {
    width: 400px;
    height: 400px;

}
section h1{
    color: white;
    font-size: 40px;
}
 section mark{
    background: linear-gradient(to right, #39FF14, #00BFFF, #1E90FF, #BA55D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2rem;
}
 
section button{
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow:2px 2px gray;
    margin: 5px;
    border: 1px solid grey;
}
section button:hover{
    background-color: rgb(197, 195, 195);
    cursor: pointer;
}
aside{
    margin-left: 30px;
}
footer{
    padding-top: 120px;
    background-color: var(--main-color);
    height:fit-content;
    width: 100%;
    
}
footer p{
    color: #ffffffc7;
    font-size: 24px;
    font-weight: 900;
}
.container{
    gap: 60px;
    padding-bottom: 30px;
    margin: 0 20%;
}
footer ul{
    list-style: none;
}
footer li{
    padding-top: 10px;
    color:#ffffff8c;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 900;
}
.footer-lang{
    padding: 0% 20%;
}
.footer-lang span{
    color:#ffffff8c;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 900;
   margin-right: 30px;
}
@media (max-width:900px) {
    body{
        padding: 0% 15%;
    }
    .lang{
        display: none;
    }
    .flex{
        display: block;
        align-items: center;
    }
    .info-page{
        height: max-content;
    }
    section {
        height: max-content;
    }
  .home-icon{
    position: relative;
  }
  .lang-sec{display: none;}
  .footer-lang{
    display: none;
  }
}
