:root{
--main-color:#58cc02;
--color:#4b4b4b;
}
*{
    padding: 0%;
    margin: 0%;
}
.flex{
    display:flex ;
}
header h3{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 32px;
    font-weight: 900;
    
}
header a{
    text-decoration: none;
}
.home-icon img{
    height:40px;
    width: 40px;
}
.home-icon{
    width: 50%;
}
header{
    justify-content: space-around;
    margin:30px 200px 0px 200px;
    
}
.lang > p{
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}
.started-page{
    justify-content:space-evenly;
    padding: 15% 0;
   
}
.started-page img{
    width: 240px;
    height: 240px;
    border-radius: 77px;
   
}
.page-material{
    text-align: center;
}
.page-material .page-material-buttons{
   margin-top: 40px;
}
.page-material h2{
    color:var(--color);
    font-size: 2em; 
    flex-wrap: wrap;
    width: 80%;
}
.page-material button{
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow:2px 2px rgb(196, 196, 196);
    margin: 5px;
}
.page-material-buttons > .account-button{
    background-color: white;
    color: #1cb0fc;
    font-weight: 700;
}
.lang-sec {
    justify-content: space-evenly;
    margin-left:100px;
    flex-wrap: wrap;
    width: 80%;
}
.lang-sec p{
    font-size: 24px;
    font-weight: 300;
    color: var(--color);
}
.lang-sec img{
    width: 30px;
}
.info-page{
    height: 100vh;
    margin: 10% 30%;
}
.info-page h1{
    color: var(--main-color);
}
.info-page p{
    margin-top: 20px;
    color: var(--color);
    size: 16px;
    width:80%;
}
.info-page img{
    height: 240px;
    width: 240px;
}
.info-card{
    justify-content: space-between;
}